[push]
	default = simple
[color]
	ui = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	pushInsteadOf = https://bitbucket.org/
	pushInsteadOf = git://bitbucket.org/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org
[user]
	name = Troy Kinsella
	email = troy.kinsella@startmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[init]
	defaultBranch = master
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenane]
	auto = false
	strategy = incremental
[credential]
	helper = store
