[push]
	default = simple
[color]
	ui = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[url "git@bitbucket.org:"]
	pushInsteadOf = https://bitbucket.org/
	pushInsteadOf = git://bitbucket.org/
[user]
	name = Troy Kinsella
	email = troy.kinsella@startmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
