[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fish/.config/fish/functions/fisherman"]
	path = fish/.config/fish/functions/fisherman
	url = https://github.com/fisherman/fisherman
